@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #1e1d2b;
    color: #fff;
}
    h1{
        font-size: 60px;
        color: #ff702a;
        width: 5em;
        padding-left: 2em;
    }
    
    button{
        background: #ff702a;
        color: #fff;
    }

    .principal{
        display: grid;
        grid-template: 1fr / 60% 40%;
        margin-bottom: -1em;
    }
        .labels{
            display: flex;
            flex-direction: row;
            align-items: center;  
            gap: 5%; 
        }    
            input{
                display: none;
            }
            input:checked + label{
                border: #087f5b 3px inset;
                border-radius: 5px;
                
            }
            label{
                font-size: 28px;
            }

    .section_home{
        display: grid;
        grid-template: 50% 25% 25% / 50% 50%;
        margin-left: 10%;
    }
        h3{
            display: grid;
            font-size: 92px;
            color: #ff702a;
            grid-area: 1 / 1 / 2 / 2;
            margin-left: 1em;
            margin-bottom: -5%;
        }
        #div_p_home{
            display: grid;
            grid-row: 3 / 4;
            grid-column: 1 / 2;
            margin-right: 50%;
        }
            .p_home{
                margin-bottom: -50px;
            }
            #p_home{
                font-size: 36px;
                margin-left: 10%;   
            }
        button{
            display: grid;
            font-size: 28px;
            grid-area: 3 / 1 / 4 / 2;
            margin-left: 10%;
            padding-left: 5%;
            padding-right: 5%;
            border-color: transparent;
        }

        #img_home{
            display: grid;
            grid-area: 1 / 2 / 4 / 3;
            width: 60%;
            padding: 30px;
        }
    .section_about{
        display: flex;
        height: 600px;
        flex-direction: row;
        gap: 5%;
        margin-left: 10%;
    }
        .img_about{
            width: 60em;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 1em;
        }
            #img_about{
                width: 80%;
                padding: 5%;
            }
        h2{
            color: #ff702a;
            font-size: 28px;
        }
        .div_text_about{
            margin-top: 5em;
            margin-left: 3em;

        }
        .p1_about{
            font-size: 56px;
            line-height: 120%;
            margin: -2% 2em 0px 0px;
        }
        .p2_about{
            width: 18em;
            font-size: 28px;
            line-height: 102%;
            white-space: pre-line;
        }
        #button_about{
            margin-left: 0%;
        }
    .section_menu{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
        #h2_menu{
            margin-left: 4em;
        }
        .p_menu{
            font-size: 56px;
            margin: 0px 0px 1em 2em;
        }
        .div_menu{
            display: flex;
            flex-direction: row;
            gap: 5%;
        }
        .label_menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #ffefe8;
            border: #776696 8px;
            border-style: inset double dotted double;
            border-radius: 12px;
        }
        .p1_menu{
            color: black;
            margin: 0px;
        }
        #p_price{
            color: #ff702a;
        }
    .section_services{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10%;
    }
        #p_services{
            margin-left: 0px;
        }
        #div_services{
            gap: 0px;
            width: 80%;
        }
        .div_services{
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
        }
            #img_services{
                width: 60%;
            }
            .p_services{
                color: #ff702a;
                font-size: 28px;
                margin: 0px ;
            }
            .p1_services{
                font-size: 28px;
                text-align:center;
                line-height: 102%;
            }
        .input:checked + label{
            background-image: linear-gradient(180deg, #22222241, rgba(194, 194, 197, 0.323), #f550504c);
            border: #1affec 4px inset;
        }
        
        .label_services{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 90%;
            height: 7em;
            padding: 0px 15% 0px 15%;
            box-sizing: border-box;
            font-size: 56px;
            background-color: #ffefe8;
            color: black;
            margin: 10% 5% 10% 5%;
            border: #35343c 10px;
            border-right: 4px;
            border-style: double outset double double;
            border-radius: 7px;
        }
            #button_services{
                margin-top: 3%;
                margin-left: 0px;
            }
    .section_contact{
        display: flex;
        flex-direction: row;
        margin-left: 10%;
        margin-right: 10%;
    }
        .div_container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 25%;
        }
        h4{
            font-size: 28px;
        }
        .our{
            margin-left: -4em;
        }
        .inform{
            margin-left: -3em;
        }
            .botton_links{
              font-size: 24px;
              line-height: 20%;
            }
@media (max-width: 360px){
    
}     